.all{
  background-color: #eee;
}
.landing{
  padding-top: 10%;
  padding-left: 2%;
  padding-right: 2%;
  margin: 2%;
  margin-top: 0;
  background-color: #fff;
  background-image: url("images/pizza-6125980_1920.png");
  background-size: 75% ;
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
}
.menu h1{
  text-align: center;
}
.mnu-list{
  background-color: #fff;
  padding: 2%;
  margin: 2%;
  text-align: center;
  font-weight: 800;
}
.mnu-list img{
width: 80%;
}