.all{
  background-color: #eee;
  background-image: url('images/meal-2834549.jpg') ;
}
#navigation a{
  text-shadow: 0 0 5px #fc5; 

  
}
#navigation{
  font-weight: 1000;
  font-size: 20px;

}
#navigation a.active{
  color: #fc5;
  text-shadow: 0 0 5px #000;
  margin-left: 0;
}
.landing{
  padding-top: 10%;
  padding-left: 2%;
  padding-right: 2%;
  margin: 2%;
  margin-top: 0;
  margin-right: 0;
  background-color: rgb(0,0,0,0.5);
  background-image: url("images/pizza-6125980_1920.png");
  background-size: 75% ;
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  color: #fc5;
  border-radius: 20px;
}
#welcome {
  color: #fff;
  padding-bottom: 40px;
  font-weight: 900;
}
.menu h1{
  text-align: center;
}
.mnu-list{
  background-color: #fff;
  padding: 2%;
  margin: 2%;
  text-align: center;
  font-weight: 800;
  border-radius: 20px;
  box-shadow: 0px 5px 5px 0px rgb(62,100,7);
}
.mnu-list img{
width: 80%;
}
#cart img{
  width: 100%;
}
.customreceipt{
  background-image: url('images/animal-g8123cbc5f_1920.png');
  background-size: cover;
  background-position: top center;
  margin-right: 0%;
  padding: 1%;
  padding-top: 0;
  box-shadow: 0px 5px 5px 0px rgb(62,100,7);
}
.receipt{
  background-color: rgb(255,255,255,0.7);
  padding: 3%;
  padding-top: 0;
}
.receipt h2{
  box-shadow: 0px 5px 5px 0px;
}
.customreceipt h2{
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding: 2%;
  
  
}